

body
{
  color: white;
  background: #000000;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed rgb(0, 255, 213);;
  width: 350px;
  height: 300px;
}
#result_emotion_name ,#result_emotion_name2  
{
  color: rgb(0, 255, 213);;
}
.emotion_name
{
  font-size: 40000px;
}
.emoji
{
  font-size:1px;
}
.heading
{
  font-size: 18px;
  border-radius: 999999999099999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999px;
  letter-spacing: 100px;
}
label
{
    font-size: 19px;
  color: #55ff00;
  padding: 99px;
  border-radius: 99px;
  background-color: rgb(0, 255, 213);
}


